.sticky-top a {
    text-decoration: none;
    border: 2px solid white;
    text-align: center;
    opacity: 1;
    background-color: #ff99c2;
    font-family: 'Lobster', cursive;
}

.sticky-top a:hover {
    opacity: 0.8;
    background-color: #b30047;
    transform: translate(3px, 3px);
}

@keyframes cpp {
    0% {
        width: 10%;
    }


    40% {
        width: 30%;
    }

    80% {
        width: 70%;
    }

    100% {
        width: 90%;
    }
}

#cpp {
    animation-name: cpp;
    animation-duration: 3s;
    transition-property: all;
    transition-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
    animation-delay: 2s;
}